services:
    traefik:
        image: traefik:v3.3
        command:
            - '--providers.docker'
            - '--providers.docker.exposedbydefault=false'
            - '--entryPoints.websecure.address=:443'
            - '--certificatesresolvers.myresolver.acme.tlschallenge=true'
            - '--certificatesresolvers.myresolver.acme.email=chaudharynizam10@gmail.com'
            - '--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json'
            - '--entrypoints.web.address=:80'
            - '--entrypoints.web.http.redirections.entrypoint.to=websecure'
            - '--entrypoints.web.http.redirections.entrypoint.scheme=https'
            - '--log.level=DEBUG'
        ports:
            - 80:80
            - 443:443
        volumes:
            - letsencrypt:/letsencrypt
            - /var/run/docker.sock:/var/run/docker.sock
        deploy:
            update_config:
                order: stop-first
                delay: 5s
                failure_action: rollback
                monitor: 20s
                max_failure_ratio: 0.2
        networks:
            - web

volumes:
    letsencrypt:

networks:
    web:
        external: true
