services:
  init:
    image: &tempoImage grafana/tempo:latest
    user: root
    entrypoint:
      - "chown"
      - "10001:10001"
      - "/var/tempo"
    volumes:
      - tempo-data:/var/tempo

  otel-collector:
    image: otel/opentelemetry-collector-contrib
    container_name: otel-collector
    command: ["--config=/etc/otel-collector.yml"]
    restart: unless-stopped
    volumes:
      - ./otel-collector.yml:/etc/otel-collector.yml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "9464:9464" # Prometheus metrics
    depends_on:
      - tempo
      - loki
      - prometheus

  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    volumes:
      - ./loki.yml:/etc/loki/loki-config.yml
      - loki-data:/var/loki
    ports:
      - "3100:3100"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command: ["--config.file=/etc/prometheus/prometheus.yml"]
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"

  tempo:
    image: *tempoImage
    container_name: tempo
    ports:
      - "3200:3200" # Tempo HTTP endpoint
      # - "4317:4317" # OTLP gRPC endpoint
    #   - "9090:9090" # Metrics endpoint
    #   - "9091:9091" # Health check endpoint
    volumes:
      - ./tempo.yml:/etc/tempo.yaml # Mount the config file
      - tempo-data:/var/tempo/traces # Persistent storage
    command: ["-config.file=/etc/tempo.yaml"]
    depends_on:
      - init

  grafana:
    image: grafana/grafana:11.5.2
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_AUTH_ANONYMOUS_ORG_NAME=admin
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - "3000:3000"

volumes:
  grafana-data:
  tempo-data:
  prometheus-data:
  loki-data:
